header {
    nav {
        float: right;
        font-size: $size-small;
        a {
            line-height: 20px;
            height: 20px;
            position: relative;
            color: $color-black;
            text-decoration: none;
            margin: 25px 10px;
            display: inline-block;
            overflow: hidden;
            span {
                position: relative;
                height: 20px;
                top: 0%;
                text-shadow: 0px 20px 0px $color-red;
                @include single-transition(top);
            }
            &.active, &:hover {
                span {
                    top: -20px;
                }
            }
        }
    }
}