// Third party
@import 'compass';
@import 'normalize-scss/_normalize';

// Resuable
@import 'vars';

// Scaffolding
@import 'master';

// Navigation
@import 'header';

// Pages
@import 'home';

.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}