/*
# employme.at/designit

Main entry for `scss` that ties all styles together.

Style is based on [OOCSS](https://github.com/stubbornella/oocss/wiki) and [BEM](http://bem.info/method/).
 */

@import "scut/dist/scut";
@import "base/vars";
@import "inuit.css/inuit";

@import "objects/hexagon";

body {
    margin: 0 auto;
    padding: $base-spacing-unit;
    max-width: 1200px;
}

.highlight {
    background: #ff0000;
}