header {
    nav {
        float: right;
        a {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: $size-baseline+3 $size-baseline*0.5 0;
            height: $size-small;
            color: $color-dark;
            text-decoration: none;
            text-transform: lowercase;
            font-weight: bold;
            font-size: $size-small;
            line-height: $size-small;
            span {
                @include single-transition(top);
                position: relative;
                top: 0%;
                height: $size-small;
                text-shadow: 0px $size-small 0px $color-highlight;
            }
            &.active, &:hover {
                text-decoration: none;
                span {
                    top: -$size-small;
                }
            }
        }
    }
}