#home {
    display: table;
    article {
        @include single-transition(opacity);
        @include opacity(0);
        display: table-row;
        &.active {
            @include opacity(1);
        }
        div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 $size-baseline*2;
        }
        h1 {
            padding: 0;
            margin-top: $size-baseline;
            margin-bottom: -$size-baseline/2;
            &:after {
                display: block;
                content: '...';
                font-weight: normal;
                font-size: $size-normal;
                margin-top: -$size-baseline;
            }
        }
        p {
            padding: 0;
        }
    }
}