<div class="grid">
	<div class="grid__item one-whole">
		<h1>Employ me at DesignIt</h1>

		<div class="hexagon-grid">

			<div class="hexagon hexagon-grid__item" style="background-image:url(/images/tmp/Evolution_by_will_yen-500x500.png)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item" style="background-image:url(/images/tmp/The-catalyst-single-cover-500x500.png)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item" style="background-image:url(/images/tmp/423341110329_Qy737Vid_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item" style="background-image:url(/images/tmp/500x500.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three" style="background-image:url(/images/tmp/509084866423_rd0gX45i_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three" style="background-image:url(/images/tmp/78223608549_WRxtYYPS_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three" style="background-image:url(/images/tmp/Evolution_by_will_yen-500x500.png)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four" style="background-image:url(/images/tmp/The-catalyst-single-cover-500x500.png)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four" style="background-image:url(/images/tmp/423341110329_Qy737Vid_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four" style="background-image:url(/images/tmp/500x500.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five" style="background-image:url(/images/tmp/509084866423_rd0gX45i_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five" style="background-image:url(/images/tmp/78223608549_WRxtYYPS_l.jpg)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five" style="background-image:url(/images/tmp/Evolution_by_will_yen-500x500.png)">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
		</div>
	</div>
</div>

