<div class="grid">
	<div class="grid__item one-whole">
		<h1>Employ me at DesignIt</h1>

<!--
		<div class="hexagon-grid">

			<div class="hexagon hexagon-grid__item lazy-img" data-src="/images/tmp/Evolution_by_will_yen-500x500.png">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item lazy-img" data-src="/images/tmp/The-catalyst-single-cover-500x500.png">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item lazy-img" data-src="/images/tmp/423341110329_Qy737Vid_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item lazy-img" data-src="/images/tmp/500x500.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three lazy-img" data-src="/images/tmp/509084866423_rd0gX45i_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three lazy-img" data-src="/images/tmp/78223608549_WRxtYYPS_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-three lazy-img" data-src="/images/tmp/Evolution_by_will_yen-500x500.png">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four lazy-img" data-src="/images/tmp/The-catalyst-single-cover-500x500.png">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four lazy-img" data-src="/images/tmp/423341110329_Qy737Vid_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-four lazy-img" data-src="/images/tmp/500x500.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five lazy-img" data-src="/images/tmp/509084866423_rd0gX45i_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five lazy-img" data-src="/images/tmp/78223608549_WRxtYYPS_l.jpg">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
			<div class="hexagon hexagon-grid__item hexagon-grid__item--hide-lt-five lazy-img" data-src="/images/tmp/Evolution_by_will_yen-500x500.png">
				<div class="hexagon__inner1"></div>
				<div class="hexagon__inner2"></div>
			</div>
		</div>-->

        <img class="lazy-img" data-src="/images/tmp/image.jpg" data-src-lap="/images/tmp/image-lap.jpg" data-src-desk="/images/tmp/image-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image2.jpg" data-src-lap="/images/tmp/image2-lap.jpg" data-src-desk="/images/tmp/image2-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image3.jpg" data-src-lap="/images/tmp/image3-lap.jpg" data-src-desk="/images/tmp/image3-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image4.jpg" data-src-lap="/images/tmp/image4-lap.jpg" data-src-desk="/images/tmp/image4-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image.jpg" data-src-lap="/images/tmp/image-lap.jpg" data-src-desk="/images/tmp/image-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image2.jpg" data-src-lap="/images/tmp/image2-lap.jpg" data-src-desk="/images/tmp/image2-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image3.jpg" data-src-lap="/images/tmp/image3-lap.jpg" data-src-desk="/images/tmp/image3-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image4.jpg" data-src-lap="/images/tmp/image4-lap.jpg" data-src-desk="/images/tmp/image4-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image.jpg" data-src-lap="/images/tmp/image-lap.jpg" data-src-desk="/images/tmp/image-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image2.jpg" data-src-lap="/images/tmp/image2-lap.jpg" data-src-desk="/images/tmp/image2-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image3.jpg" data-src-lap="/images/tmp/image3-lap.jpg" data-src-desk="/images/tmp/image3-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image4.jpg" data-src-lap="/images/tmp/image4-lap.jpg" data-src-desk="/images/tmp/image4-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image.jpg" data-src-lap="/images/tmp/image-lap.jpg" data-src-desk="/images/tmp/image-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image2.jpg" data-src-lap="/images/tmp/image2-lap.jpg" data-src-desk="/images/tmp/image2-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image3.jpg" data-src-lap="/images/tmp/image3-lap.jpg" data-src-desk="/images/tmp/image3-desk.jpg" style="min-height:182px" />
        <img class="lazy-img" data-src="/images/tmp/image4.jpg" data-src-lap="/images/tmp/image4-lap.jpg" data-src-desk="/images/tmp/image4-desk.jpg" style="min-height:182px" />
	</div>
</div>

