$size-baseline  : 32px;

// Font sizes
$size-normal  : $size-baseline;

$size-small   : $size-normal / $golden-ratio;
$size-smaller : $size-small / $golden-ratio;

$size-big     : $size-normal * $golden-ratio;
$size-bigger  : $size-big * $golden-ratio;