#home {
    display: table;
    article {
        @include transition(background-color);
        display: table-row;
        color: $color-light;
        div {
            display: table-cell;
            height: 600px;
            vertical-align: middle;
            text-align: center;
        }
        h2 {
            @include transition();
            margin: 0 0 20px 0;
            font-weight: bold;
                font-size: $size-bigger;
            &:after {
                display: block;
                margin-top: 0px;
                content: '...';
                font-weight: normal;
                font-size: $size-normal;
            }
        }
        p {
            @include transition();
            margin: 0;
            font-size: $size-normal;
        }
    }
}