#home {
    display: table;
    article {
        @include transition(background-color);
        display: table-row;
        color: $color-white;
        div {
            display: table-cell;
            height: 600px;
            vertical-align: middle;
            text-align: center;
        }
        h2 {
            @include transition();
            margin: 0;
            font-weight: bold;
            font-size: 120px;
            &:after {
                display: block;
                margin-top: -60px;
                content: '...';
                font-weight: normal;
            }
        }
        p {
            @include transition();
            margin: 0;
            font-size: 40px;
        }
    }
}